.item-price {
  display: inline-block;
  margin-left: 15px;
}

.item-title {
  display: inline-block;
}

.item-description {
  margin: 3px;
}

.out-of-stock {
  color: red;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  background-color: #e3e6e8; /* Modern Browsers */
}
