.item-price {
  display: inline-block;
  margin-left: 15px;
}

.item-title {
  display: inline-block;
}

.item-description {
  margin: 3px;
}

.available {
  color: limegreen;
}

.out-of-stock {
  color: red;
}
