.store-logo {
  max-width: 300px;
  max-height: 150px;
  width: 20%;
  height: 10%;
  display: inline-block;
  text-align: center;
}

.title {
  display: inline-block;
  font-size: 10px;
}

.title-wrapper {
  text-align: center;
}

@media (max-width: 992px) {

  .mat-form-field {
    margin: 5px;
  }

}

@media (max-width: 768px) {

  .options-wrapper {
    padding-left: 0%;
    padding-right: 0%;
  }

  .option-select {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

}
