/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
}

.button-normal{
  background-color: gray;
  color: white;
  padding: 0.5em 1em;
  border-radius: 4px ;
  float: right;
}

a:link {
  text-decoration:none;
}

body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 1200px) {

  body {
    margin-left: 10%;
    margin-right: 10%;
  }

}

@media (max-width: 992px) {

  body {
    margin-left: 0%;
    margin-right: 0%;
  }

}





