<div style="width: 100%">

  <div>
    <mat-card class="login-card">

      <div class="card-block">
        <h2 class="login-title">Ingresa tus datos</h2>

        <div>
          <h4 class="login-field-label">Nombre</h4>
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="name">
          </mat-form-field>
        </div>

        <div>
          <h4 class="login-field-label">Usuario</h4>
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="user">
          </mat-form-field>
        </div>

        <div>
          <h4 class="login-field-label">Password</h4>
          <mat-form-field class="">
            <input matInput type="password" [(ngModel)]="password">
          </mat-form-field>
        </div>

        <button mat-raised-button (click)="registerUser()" style="width: 100%">Registrar</button>
      </div>

    </mat-card>
  </div>

</div>

